:root {
    --main-bg-color: #90fcfc;
    --main-text-color: #4f4f4f;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h4 {
    display: inline-flex;
    margin: 0;
    padding: 0;
}
