.main {
    min-width: 300px;
    min-height: 300px;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    background-color: rgba(80, 164, 65, 0.11);
}

ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

li {
    background-color: rgba(86, 188, 255, 0.67);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0.2em auto;
    padding: 0.5em;
    border-radius: 0.3em;
}

li:hover {
    background-color: rgba(250, 182, 244, 0.76);
    cursor: pointer;
}
